:root {
  --primary-color: #3cb4c9;
  --text-color: #2c2c2c;
  --background-color: #fafafa;
  --border-color: #e0e0e0;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  background: linear-gradient(45deg, #05232b, #3cb4c9, #f0f0f0);
  color: #ffffff;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-height: 740px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: #fafafa;
  border-radius: 18px;
  padding: 30px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-input {
  display: flex;
  flex-direction: column;
}

h1, h3, h4 {
  color: var(--text-color);
}

h1, h3 {
  font-size: 1rem;
  font-weight: 300;
}

h4 {
  font-size: 1rem;
  font-weight: 100;
}

.label-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.label-title:first-child {
  margin-top: 20px;
}

input, textarea, select {
  font-size: 16px;
}

select,
input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  color: #333;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: #ffffff;
  font-family: "Outfit", sans-serif;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select {
  cursor: pointer;
}

select:hover, input:hover,
select:focus, input:focus {
  border-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

select, input, .savings-container {
  transition: all 0.3s ease;
}

.container-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 500px;
  justify-content: space-between;
  margin: 10px 0px 10px 0px;
}

.result-col1 {
  display: flex;
  width: 50%;
  height: 50%;
  flex-direction: column;
}

.result-col2 {
  display: flex;
  width: 50%;
  height: 50%;
  flex-direction: column;
  text-align: right;
}

.result-title {
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px #D9DBE9 solid;
}

.result-title:first-of-type {
  padding-top: 0;
}

.result-title:last-child {
  border-bottom: none;
}

.savings-container {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  height: 30%;
  gap: 20px;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 10px;
}

.savings-icon {
  width: 28px;
  height: 28px;
  flex-shrink: 0
}

.savings-text {
  margin: 0;
  height: auto;
  font-size: 14px;
  color: #333;
}

#savings {
  color: #3cb4c9;
  font-weight: bold;
}

#chosen-payout,
#amount-received,
#interest-rate,
#savings-amount {
  color: #3cb4c9;
  font-weight: 600;
}

#sale-amount {
  margin-bottom: 20px;
}

@media screen and (min-width: 1048px) {
  html {
      font-size: 16px;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    max-height: 565px;
    padding: 10px;
    max-width: 1048px;
    overflow: hidden;
  }

  .container-input {
    display: flex;
    padding: 30px 45px 65px 65px;
    height: auto;
    width: 70%;
  }

  .container-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    padding: 65px 65px 65px 45px;
    margin: 0;
    position: relative;

  }

  .container-result::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 80%;
    width: 1px;
    background-color: #D9DBE9;
    transform: translateY(-50%);
  }

  .result-col1, .result-col2 {
    height: 40%;
    margin-top: 50px;
  }

  .result-title {    
    border-bottom: 1px #D9DBE9 solid;
    border-spacing: 2px;
  }

  .savings-container {
    font-size: 1em;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
}  

@media screen and (max-width: 480px) {
  body {
      font-size: 16px;
  }

  .container {
      padding: 1rem;
  }

  h1, h2 {
      font-size: 1em;
  }

  select, input {
      padding: 10px;
      font-size: 1em;
  }

  .savings-container {
      padding: 20px;
  }

  .savings-icon {
      width: 20px;
      height: 20px;
  }

  .savings-text {
      font-size: 0.8em;
  }

  .result-title {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 320px) {
  html {
      font-size: 16px;
  }

  .container {
      padding: 10px;
  }

  h1, h2 {
      font-size: 1em;
  }

  select, input {
      padding: 8px;
      font-size: 1em;
  }

  .savings-icon {
      width: 18px;
      height: 18px;
  }

  .savings-text {
      font-size: 0.75em;          
  }

  .result-title {
    font-size: 0.8em;
  }
}